<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en"
      layout:decorator="layout">
<head>
    <title>Ustawienia konta</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-md-6">
            <p class="text-success" th:if="${saveCorrectly}" th:text="#{account.settings.save.correctly}"></p>
            <form class="form-horizontal" th:action="@{/ustawienia-konta}" method="post"
                  th:object="${memberWithoutPasswordDTO}">
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
                    <label for="username" class="col-sm-3 control-label" th:text="#{account.new.username}"></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="username"
                               th:placeholder="#{account.new.username}"
                               th:field="*{username}"/>
                        <span class="help-block"
                              th:if="${#fields.hasErrors('username')}"
                              th:errors="*{username}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-3 control-label" th:text="#{account.new.first.name}"></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="name"
                               th:placeholder="#{account.new.first.name}"
                               th:field="*{firstName}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-3 control-label" th:text="#{account.new.last.name}"></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="lastname"
                               th:placeholder="#{account.new.last.name}"
                               th:field="*{lastName}"/>
                    </div>
                </div>
                <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                    <label for="email" class="col-sm-3 control-label" th:text="#{account.new.email.address}"></label>
                    <div class="col-sm-6" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                        <input type="email" class="form-control" id="email"
                               th:placeholder="#{account.new.email.address}"
                               th:field="*{email}"/>
                        <span class="help-block"
                              th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <button type="submit" class="btn btn-default">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>