<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" http://www.w3.org/1999/xhtml" lang="en""xmlns:th=
layout:decorator="layout-account" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-xs-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 th:text="#{account.new.created}"></h4>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>